@font-face {
  font-family:"NEXT ART";
  src:url("./assets/fonts/NEXT_ART_Bold.ttf") format("truetype");
  font-weight:700;font-style:normal;
}

@font-face {
  font-family:"NEXT ART";
  src:url("./assets/fonts/NEXT_ART_SemiBold.ttf") format("truetype");
  font-weight:600;font-style:normal;
}

@font-face {
  font-family:"NEXT ART";
  src:url("./assets/fonts/NEXT_ART_Regular.ttf") format("truetype");
  font-weight:400;font-style:normal;
}


